<mat-toolbar>
    <mat-toolbar-row>
        <img class="itau-bba-logo" src="../../assets/images/itau-bba-logo.png">
        
        <div class="user-container">
            <div class="user-help">
                <button class="help-button" mat-icon-button>
                    <mat-icon class="help-icon">help_outline</mat-icon>
                    <span>ajuda</span>
                </button>
            </div>
            <div class="user-info">
                <div class="user-circle">
                    AP
                </div>
                <div class="user-menu">
                    <label>Alfred Pennyworth</label><br>
                    <label class="enterprise-name">Wayne Enterprises</label>
                </div>
                <button mat-icon-button>
                    <mat-icon class="arrow-down">keyboard_arrow_down</mat-icon>
                </button>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
